<p>Posicion x <%= @recorrido.pos_x %></p>
<p>Posicion y <%= @recorrido.post_y %></p>
<p>Nombre <%= @recorrido.recorrido_file_name%></p>
<p>Tamaño <%= @recorrido.recorrido_file_size %></p>
<p>Ubicacion <%= @recorrido.recorrido %></p>

